@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-add53:before {
	content: "\e000";
}
.flaticon-alarm11:before {
	content: "\e001";
}
.flaticon-arrow204:before {
	content: "\e002";
}
.flaticon-arrow205:before {
	content: "\e003";
}
.flaticon-arrow206:before {
	content: "\e004";
}
.flaticon-bag15:before {
	content: "\e005";
}
.flaticon-basketball8:before {
	content: "\e006";
}
.flaticon-battery58:before {
	content: "\e007";
}
.flaticon-business20:before {
	content: "\e008";
}
.flaticon-calculator23:before {
	content: "\e009";
}
.flaticon-calendar36:before {
	content: "\e00a";
}
.flaticon-calligraphy2:before {
	content: "\e00b";
}
.flaticon-chat20:before {
	content: "\e00c";
}
.flaticon-circular27:before {
	content: "\e00d";
}
.flaticon-circular28:before {
	content: "\e00e";
}
.flaticon-clock32:before {
	content: "\e00f";
}
.flaticon-closed21:before {
	content: "\e010";
}
.flaticon-cloud61:before {
	content: "\e011";
}
.flaticon-cogwheel2:before {
	content: "\e012";
}
.flaticon-comment28:before {
	content: "\e013";
}
.flaticon-condenser2:before {
	content: "\e014";
}
.flaticon-control4:before {
	content: "\e015";
}
.flaticon-covered7:before {
	content: "\e016";
}
.flaticon-credit14:before {
	content: "\e017";
}
.flaticon-crescent11:before {
	content: "\e018";
}
.flaticon-cross28:before {
	content: "\e019";
}
.flaticon-document37:before {
	content: "\e01a";
}
.flaticon-email18:before {
	content: "\e01b";
}
.flaticon-eye30:before {
	content: "\e01c";
}
.flaticon-fast6:before {
	content: "\e01d";
}
.flaticon-favourite6:before {
	content: "\e01e";
}
.flaticon-flat5:before {
	content: "\e01f";
}
.flaticon-folder53:before {
	content: "\e020";
}
.flaticon-heart52:before {
	content: "\e021";
}
.flaticon-home50:before {
	content: "\e022";
}
.flaticon-hot26:before {
	content: "\e023";
}
.flaticon-human11:before {
	content: "\e024";
}
.flaticon-idea7:before {
	content: "\e025";
}
.flaticon-information25:before {
	content: "\e026";
}
.flaticon-intersecting1:before {
	content: "\e027";
}
.flaticon-keyboard7:before {
	content: "\e028";
}
.flaticon-lantern4:before {
	content: "\e029";
}
.flaticon-light23:before {
	content: "\e02a";
}
.flaticon-light24:before {
	content: "\e02b";
}
.flaticon-light25:before {
	content: "\e02c";
}
.flaticon-lightning6:before {
	content: "\e02d";
}
.flaticon-magnifying19:before {
	content: "\e02e";
}
.flaticon-map15:before {
	content: "\e02f";
}
.flaticon-menu15:before {
	content: "\e030";
}
.flaticon-more3:before {
	content: "\e031";
}
.flaticon-movie5:before {
	content: "\e032";
}
.flaticon-music50:before {
	content: "\e033";
}
.flaticon-negative5:before {
	content: "\e034";
}
.flaticon-new19:before {
	content: "\e035";
}
.flaticon-note7:before {
	content: "\e036";
}
.flaticon-open47:before {
	content: "\e037";
}
.flaticon-open48:before {
	content: "\e038";
}
.flaticon-open49:before {
	content: "\e039";
}
.flaticon-open50:before {
	content: "\e03a";
}
.flaticon-overlapping3:before {
	content: "\e03b";
}
.flaticon-page49:before {
	content: "\e03c";
}
.flaticon-paint19:before {
	content: "\e03d";
}
.flaticon-photo22:before {
	content: "\e03e";
}
.flaticon-pie14:before {
	content: "\e03f";
}
.flaticon-play25:before {
	content: "\e040";
}
.flaticon-question16:before {
	content: "\e041";
}
.flaticon-radio11:before {
	content: "\e042";
}
.flaticon-refresh30:before {
	content: "\e043";
}
.flaticon-rewind17:before {
	content: "\e044";
}
.flaticon-ribbon7:before {
	content: "\e045";
}
.flaticon-rotating2:before {
	content: "\e046";
}
.flaticon-round13:before {
	content: "\e047";
}
.flaticon-round14:before {
	content: "\e048";
}
.flaticon-shopping36:before {
	content: "\e049";
}
.flaticon-shuffle5:before {
	content: "\e04a";
}
.flaticon-single5:before {
	content: "\e04b";
}
.flaticon-small95:before {
	content: "\e04c";
}
.flaticon-small96:before {
	content: "\e04d";
}
.flaticon-small97:before {
	content: "\e04e";
}
.flaticon-speaker17:before {
	content: "\e04f";
}
.flaticon-speaker18:before {
	content: "\e050";
}
.flaticon-sports15:before {
	content: "\e051";
}
.flaticon-stack3:before {
	content: "\e052";
}
.flaticon-suitcase19:before {
	content: "\e053";
}
.flaticon-touch8:before {
	content: "\e054";
}
.flaticon-trash22:before {
	content: "\e055";
}
.flaticon-tray7:before {
	content: "\e056";
}
.flaticon-triple4:before {
	content: "\e057";
}
.flaticon-two77:before {
	content: "\e058";
}
.flaticon-two78:before {
	content: "\e059";
}
.flaticon-ui1:before {
	content: "\e05a";
}
.flaticon-unlocked8:before {
	content: "\e05b";
}
.flaticon-ushaped1:before {
	content: "\e05c";
}
.flaticon-walk9:before {
	content: "\e05d";
}
.flaticon-white41:before {
	content: "\e05e";
}
.flaticon-wrench10:before {
	content: "\e05f";
}
